*{
	margin: 0;
	padding: 0;
	list-style-type: none;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	}
	
@font-face{
	font-family: "Angeles";
	src: local("Angeles.ttf"), local("Angeles"), url("Angeles.ttf") format("truetype");
	}
	
@font-face{
	font-family: "Honeybee";
	src: local("Honeybee.ttf"), local("Honeybee"), url("Honeybee.ttf") format("truetype");
	}
	
@font-face{
	font-family: "Narrow";
	src: local("Narrow.ttf"), local("Narrow"), url("Narrow.ttf") format("truetype");
	}
	
body{
	font-family: Arial, Sans-Serif;
	background-color: #EEE;
	}
	
header{
	display: flex;
	padding-top: 5vh;
	padding-bottom: 5vh;
	justify-content: center;
	align-items: center;
	background-color: #F08000;
	}
	
#whatsapp_button{
	height: 14vh;
	position: fixed;
	right: 0;
	bottom: 10%;
	padding: 2vw;
	border: 1.2vw solid transparent;
	border-radius: 50%;
	}
	
#whatsapp_button:hover{
	border: 1.2vw solid #F08000;
	}
	
#logo{
	font-size: 14vw;
	text-align: center;
	}
	
#word1{
	font-family: "Honeybee";
	}
	
#word2{
	font-family: "Angeles";
	}
	
#word3{
	font-family: "Narrow";
	font-size: 4.5vw;
	text-transform: uppercase;
	line-height: 0px;
	}
	
#banner{
	background-color: #F08000;
	display: flex;
	padding-top: 8vh;
	padding-bottom: 8vh;
	align-items: center;
	justify-content: space-evenly;
	margin-top: 5vh;
	}
	
#banner_image{
	height: 25vh;
	border-radius: 50%;
	}
	
#banner_text{
	width: 40%;
	text-align: center;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 9vw;
	}
	
#content{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 15vh;
	}
	
.content_box{
	width: 90%;
	margin-bottom: 5vh;
	background-color: white;
	border-radius: 20px;
	padding: 5%;
	border: 2px solid #F08000;
	text-align: center;
	}
	
.content_box img{
	width: 100%;
	margin-bottom: 2vh;
	}
	
h2{
	font-size: 7vw;
	margin-bottom: 5vh;
	text-transform: uppercase;
	}
	
.content_box p{
	font-size: 5vw;
	margin-bottom: 2vh;
	}
	
.content_box a{
	font-size: 5vw;
	text-decoration: underline;
	color: #F08000;
	}
	
#content2{
	font-size: 6vw;
	width: 80%;
	margin: auto;
	text-align: center;
	margin-top: 5vh;
	margin-bottom: 30vh;
	}
	
#content2 p{
	margin-bottom: 4vh;
	}
	
#buy{
	font-size: 7vw;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: underline;
	}

footer{
	position: sticky;
	background-color: #708090;
	font-size: 4vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: white;
	padding-bottom: 8vh;
	}
	
#join_us{
	font-size: 6.5vw;
	margin-top: 2vh;
	margin-bottom: 3vh;
	}
	
#medias{
	display: flex;
	justify-content: center;
	width: 100%;
	}
	
#medias a{
	margin-right: 2%;
	margin-left: 2%;
	}
	
#medias a img{
	height: 8vh;
	}
	
address a, #copy a{
	text-decoration: underline;
	}
	
address{
	margin-top: 5vh;
	maargin-bottom: 2vh;
	}
	
#copy{
	margin-top: 2vh;
	}
	
#copy a{
	color: gold;
	}
}
	
	
@media (max-width: 320px){
	#logo{
	font-size: 12vw;
	}
	
	#word3{
	font-size: 3.5vw;
	}
	
	#banner_text{
	font-size: 7.5vw;
	}
	h2{
	font-size: 4vw;
	}
	
.content_box p{
	font-size: 3vw;
	}
}


@media (min-width: 801px){
	header{
	padding-top: 5vh;
	padding-bottom: 5vh;
	}
	
#whatsapp_button{
	height: 20vh;
	position: fixed;
	right: 0;
	bottom: 50%;
	padding: 1vw;
	border: 0.5vw solid transparent;
	border-radius: 50%;
	}
	
#whatsapp_button:hover{
	border: 0.5vw solid #F08000;
	}
	
#logo{
	font-size: 8vw;
	}
	
#word3{
	font-size: 2vw;
	}
	
#banner{
	padding-top: 7vh;
	padding-bottom: 7vh;
	margin-top: 15vh;
	}
	
#banner_image{
	height: 50vh;
	border-radius: 50%;
	}
	
#banner_text{
	font-size: 7vw;
	}
	
#content{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-top: 5vh;
	}
	
.content_box{
	width: 30%;
	word-wrap: break-word;
	border-radius: 40px;
	padding: 2%;
	border: 4px solid #F08000;
	text-align: center;
	}
	
h2{
	font-size: 4vw;
	margin-bottom: 5vh;
	height: 25vh;
	}
	
.content_box img{
	margin-bottom: 3vh;
	height: 25vh;
	}
	
.content_box p{
	font-size: 3vw;
	margin-bottom: 2vh;
	}
	
.content_box a{
	font-size: 3vw;
	}
	
#content2{
	font-size: 4vw;
	margin-top: 15vh;
	margin-bottom: 40vh;
	}
	
#content2 p{
	margin-bottom: 8vh;
	}
	
#buy{
	font-size: 5vw;
	}

footer{
	font-size: 2.5vw;
	padding-bottom: 10vh;
	}
	
#join_us{
	font-size: 4vw;
	margin-top: 4vh;
	margin-bottom: 6vh;
	}
	
#medias a{
	margin-right: 2%;
	margin-left: 2%;
	}
	
#medias a img{
	height: 10vh;
	}
	
address{
	margin-top: 8vh;
	maargin-bottom: 8vh;
	}
	
#copy{
	margin-top: 4vh;
	}
}

	
	
	
	
	
	
	
	
	
	
	